//panel boczny, nawigacja
$color_sidebar: #5B605F;
$color_nav: #5B605F;

//nagłówek, kolor tekstu w kolumnach
$color_header: #4a4a49;
$color_column_text: #4a4a49;

//przyciski, wyróżnienia, nagłówki ekranów
$color_btn: #FF6600;
$color_screen_header: #FF6600;

//kolor tła ekranów
$color_screen: #FFFFFA;

//kolor wiadomości typu info, warning, success
$color_msg_info: #3498DB;
$color_msg_warn: #FFB03B;
$color_msg_success: #468966;

//kolor ikony kosza
$color_bin: #BD4932;

//kolor tekstu z wierszy w tabelach, ikony rozszerzonych funkcji
$color_table_row_text: #A1A194;
$color_expanded_item: #A1A194;