.header {
  background: $color-header;
  font-family: $font-open-sans;

  .header__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .header__nav {
      a {
        text-decoration: none;
        text-transform: uppercase;
        color: $color-screen;
        padding: 20px;

        &:hover {
          color: $color-screen_header;
        }
      }
    }
  }
}