#app--info {
    display: flex;
    justify-content: center;
    align-items: center;
}

.info__wrapper {
    display: flex;
    font-family: $font-open-sans;
    background-color: $color_screen;
    color: $color_sidebar;
    padding: 70px 0;

    div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 15px 35px;

        i {
            font-size: 5.5rem;
            color: $color_column_text;
            opacity: 0.5;
        }

        h2 {
            display: block;
            font-size: 2.2rem;
            text-align: center;
            margin: 35px 0 25px 0;
        }

        p {
            display: block;
            text-align: center;
            font-size: 1.7rem;
        }
    }
}