.subSec__welcome {
  //Każda subsekcja ma klasę subSec z display:none (z wyjątkiem subsekcji optwierającej);
  //Po po evencie w JS dodwana jest klasa show__subsection, która nadpisuję display:none na display:flex
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: 80%;
  border: 2px dotted grey;
  background-color: $color_screen;
  .Message_and_form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    h1 {
      font-size: 30px;
      color: $color_header;
    }

  }

}