.subSec__desktop {

  .subtasks {

    .Widget_info {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 65%;

      &_msg {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 48px;

        &_leftBox {
          display: flex;
          align-items: center;
          margin-left: 10px;

            .icon {
              font-size: 2rem;
            }

            &_text {
              margin-left: 15px;
              font-size: 1.3rem;
              font-family: $font-open-sans;
            }
          }

          &_rightBox {

            .icon-x {
              padding: 3px;
              font-size: 1.4rem;
              cursor: pointer;
              transform: translate(-5px, -10px);
            }
          }
        }

      .info {
        color: $color_msg_info;
        border: 2px dotted $color_msg_info;
        margin-bottom: 7px;
      }

      .warn {
        color: $color_msg_warn;
        border: 2px dotted $color_msg_warn;
        margin-bottom: 7px;
      }

      .success {
        color: $color_msg_success;
        border: 2px dotted $color_msg_success;
      }
    }
  }
}
