.week__preview {
      display: flex;
      flex-direction: column;
      justify-content: center;
      background-color: $color_screen;
      padding: 0.5rem 1.8rem;
      border: 1px dashed $color_table_row_text;
      margin-top: 1rem;
      max-width: 95%;
    }

.week__preview--header {
      font-size: 1.3rem;
      font-weight: 600;
      color: $color_btn;
      font-family: $font-open-sans;
      display: flex;
      justify-content: center;
      text-align: center;
      padding-top: 0.5rem;
      padding-bottom: 0.8rem;
    }

.week__preview__table th {
      font-family: $font-open-sans;
      text-align: left;
      font-size: 1.4rem;
      font-weight: bold;
      color: $color_header;
      padding: 1rem 0.5rem 0.5rem 0.5rem;
      border-bottom: 1px solid $color_table_row_text;
      border-top: 1px solid $color_table_row_text;
    }

.week__preview__table td {
      font-family: $font-open-sans;
      font-size: 1.2rem;
      padding: 0.8rem 0.3rem;
      border-bottom: 1px solid $color_table_row_text;
      border-top: 1px solid $color_table_row_text;
      color: $color_table_row_text;
      line-height: 120%;
    }

.week__preview__switch {
      color: $color_btn;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      text-align: center;
      padding: 1.2rem 0 0.5rem 0;
      font-family: $font-open-sans;
      font-size: 1rem;
    }

.week__preview__switch--arrow_left {
      border: solid $color_btn;
      border-width: 0 3px 3px 0;
      display: inline-block;
      padding: 3px;

      transform: rotate(135deg);
      -webkit-transform: rotate(135deg);
    }

.week__preview__switch--arrow_right {
      border: solid $color_btn;
      border-width: 0 3px 3px 0;
      display: inline-block;
      padding: 3px;

      transform: rotate(-45deg);
      -webkit-transform: rotate(-45deg);
    }
