
//-----------------> PLAN <-----------------

.plan {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: $font-open-sans;
  font-size: 1.5rem;
  color: $color_column_text;
  background-color: $color_screen;

  &_box {
    padding: 35px 50px;
    height: 650px;
    width: 1000px;
    //border: 2px solid red;

    &_header {
      display: flex;
      justify-content: space-between;
      align-items: center;

      &--text {
        text-transform: uppercase;
        color: $color_btn;
      }

      &--submit {
        padding: 8px 18px;
        font-size: 1rem;
        color: white;
        background-color: $color_btn;
        cursor: pointer;
        border: none;
      }
    }

    &_separator {
      margin-top: 5px;
      height: 2px;
      width: 100%;
      background-color: $color_sidebar;
    }

    &_main {
      display: flex;
      flex-direction: column;
      padding: 10px 70px 0 15px;

      &_name {
        display: flex;
        justify-content: space-between;
        margin-bottom: 10px;
        //border: 2px solid yellow;

        &--input {
          padding: 0 10px;
          height: 35px;
          width: 700px;
          font-size: .9rem;
          color: $color_column_text;
          border: 1px solid $color_column_text;
        }
      }

      &_description {
        display: flex;
        justify-content: space-between;
        margin-bottom: 10px;
        //border: 2px solid yellow;

        &--input {
          padding: 10px 10px;
          height: 80px;
          width: 700px;
          font-size: .9rem;
          color: $color_column_text;
          border: 1px solid $color_column_text;
          resize: none;
        }
      }

      &_week {
        display: flex;
        align-items: center;
        margin-bottom: 10px;
        //border: 2px solid yellow;

        &--input {
          margin-left: 40px;
          height: 30px;
          width: 50px;
          font-size: .9rem;
          color: $color_column_text;
          text-align: center;
          border: 1px solid $color_column_text;
        }
      }

      &_separator {
        align-self: flex-end;
        height: 1px;
        width: 755px;
        background-color: $color_sidebar;
      }

      &_table {
        font-size: 1rem;
        font-weight: bold;
        line-height: 25px;
        text-transform: uppercase;

        table {
          width: 100%;
        }

        th {
          height: 60px;
          width: calc(100%/6);
          font-size: 1.2rem;
          text-align: center;
          vertical-align: middle;
          border-bottom: 1px solid $color_table_row_text;
        }

        td {
          height: 45px;
          width: calc(100%/6);
          text-align: center;
          vertical-align: middle;
          border-bottom: 1px solid $color_table_row_text;
        }

        select {
          height: 27px;
          width: 90%;
          font-size: .9rem;
          border: 1px solid $color_sidebar;
        }
      }
    }
  }
}

.plan_box_main_name--input:focus {
  outline: none;
  border: 1px solid #FF6600;
}

.plan_box_main_description--input:focus {
  outline: none;
  border: 1px solid #FF6600;
}

.plan_box_main_week--input:focus {
  outline: none;
  border: 1px solid #FF6600;
}