.container {
  margin: 0 auto;
  max-width: 1244px;
}

@mixin btn-sml {
  display: block;
  background-color: $color_btn;
  padding-left: 15px;
  padding-right: 15px;
  font-weight: bold;
  color: $color_screen;
  text-align: center;
  line-height: 30px;
  text-decoration: none;
}

@mixin btn-reg {
  display: block;
  background-color: $color_btn;
  font-weight: bold;
  padding-left: 80px;
  padding-right: 80px;
  color: $color_screen;
  text-align: center;
  line-height: 40px;
  text-decoration: none;

}

.logo {
  font-family: $font-charmonman;
  font-size: 2.5rem;
  padding: 30px;

  .logo--first {
    font-weight: 100;
    color: $color-screen;
  }

  .logo--second {
    font-weight: 700;
    color: $color-screen_header;
  }
}

::-webkit-scrollbar {
  width: 0.5vw;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.25);
}

::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: $color_screen_header;
  transition: 0.5s;
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgb(204, 118, 56);
}

@mixin box-in-form {
  border: 1px solid $color_column_text;
  border-radius: 5px;
  overflow-y: scroll;
  font-size: 1.3rem;
  font-family: $font-open-sans;
  width: 100%;
  height: 60%;
}


@mixin area-in-form {
  width: 90%;
  font-family: $font-open-sans;
  border-radius: 5px;
  outline: none;
}